#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  width: 3rem; height: 3rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
